@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout !=  null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<h1 class="text-light">Manage your account</h1>

<div>
    <h2 class="text-light">Change your account settings</h2>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
    <div>
        <a asp-action="Index" asp-controller="User" asp-area="UserArea" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i>To Tasks</a>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
